nav {
    background-color: rgb(160, 156, 156);
    width: 100%;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  .logo {
    height: 50px;
    padding: 10px 0px 10px 20px;
    margin-right: 10px;
    
  }
  
  .website-name {
    font-size: 1.9rem;
    margin: 0;
     border: #000 solid 1px;
  }
  
  .nav-links {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 30px 150px 30px;

    font-size: 1.4rem;
  }
  
  .nav-links li {
    margin: 0 50px;
  }
  
  .nav-links a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(150, 146, 146);
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    color: #000;
  }

.donate-btn {
    justify-content: flex-end;
}

.nav-links a:hover {
    color: #000;
  }
  
  .show-nav {
    display: block;
  }
  
  @media (min-width: 768px) {
    .nav-links {
      display: flex;
    }
    .donate-btn {
        display: flex;
    }
    .menu-icon {
      display: none;
    }
  }