.main-content {
    padding: 0%;
}

.top-heading {
    background-color: seashell;
}

.top-heading-container {
    background-image: url('../../../../public/images/img-donate.jpg');
    background-size: contain;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.top-heading-container-title {
    color: ghostwhite;
    font-weight: 100;
    font-size: 100px;
    margin-bottom: -300px;
}

.top-heading-breadcrumb-wrapper {
    padding: 5px 0px 5px;
}

.breadcrumb-container {
    display: flex;
    
}

.breadcrumbs {
    
    list-style-type: none;
    display: flex;
    padding: 2%;
    align-items: flex-start;
}

hr {
    margin: 20px 0;
    border: 1px solid black;
}

.breadcrumbs-list {
    float: left;
    padding: 5px 10px 5px;
}

.breadcrumbs-list::after {
    padding: 5px 10px 5px;
    content: "»";
    color: gray;
}

.breadcrumbs-list-item {
    text-align: center;
}

/* used https://masjidds.org/tanwir-intensive/ */
.site-content-container {
   padding: 0%;

}

.content-row {
    display: flex;
    justify-content: space-between;
    background-color: seashell;
    border: black 5px solid;
    padding: 10px 300px 10px;
    
}


.row-main {
    padding: 5px 100px 5px;
    flex: 1;
}

.row-main-article {
    padding: 2%;
}

.row-main-top-panel {
    padding: 10px 5px 10px;
    letter-spacing: 1px;
    font-size: x-large;
    border: black 5px solid;

}
.row-main-bottom-panel {
    padding: 40px 5px 10px;
}

.sidebar-wrapper {
    padding: 50px 10px 10px;
    background-color: beige;
    border: black 1px solid;
}

.sidebar {
    position: sticky;
    overflow: visible; 
    box-sizing: border-box; 
    min-height: 10px;
    width: fit-content;
    
    /* border: 1px solid black; */
}

.row-main, 
.sidebar {
    padding: 10px 5px 10px;
    padding: 2px;
}

.sidebar-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: flex-start;
}

.sidebar-list-item {

    width: 250px;
    font-size: large ;
    letter-spacing: 1px;
}

.sidebar-list-item-link {
    padding: 0%;

}

.sidebar-title {
    font-size: x-large;
}

.article-content-wrapper {
    padding: 0%;
}
.article-content-lists {
    padding: 1%;
    display: flex;
    justify-content: left;
}


.article-content-li {
    
    padding: 5px 5px 10px;
    margin-left: 0%;
    
    list-style: square;
    
}

.article-content-ul {
    box-sizing: border-box; 
    padding: 1px 50px 5px;  
}

.article-content-a {
    color: #536c81;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    
}

.article-content-services {
    padding: 15px 0px 5px;
}

.article-content-services-p {
    display: flex;
    line-height: 30x;
    padding: 10px 55px 10px;

}

.article-content-services-h1 {
    text-align: left;
    font-size: large;
    font-size: x-large;
}