
.bc-top-wrapper {
    padding: 0%;
    background: 
    
    linear-gradient(220deg, rgba(245, 244, 244, 0.8), rgba(255, 255, 255, 0) 20.71%),
    linear-gradient(150deg, rgba(241, 241, 241, 0.8), rgba(255, 255, 255, 0) 30.71%),
    linear-gradient(280deg, rgba(230, 230, 231, 0.8), rgba(255, 255, 255, 0) 70.71%);
}


.bc-wrapper {
    padding: 1%;
    background-image: linear-gradient(180deg, #949292, #ffffff);
}

.bc-container {
    padding: 5px 20px 5px; 
}

.bc-list-ul {
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
    justify-content: space;
    list-style-type: none;

}

.bc-list-ul-a {
    padding: 1px 1px 10px 2px;
    text-decoration: none;
} 

.bc-list-ul-a:visited {
    padding: 1px 1px 10px 2px;
    text-decoration: none;
    color: rgb(54, 52, 52);
} 

.bc-list-li {
    padding: 1px 1px 10px 2px;
    text-decoration: none;

}

.bc-list-a {
    text-decoration: none;
}

.bc-list-a:hover{
    text-decoration: none;
    color:rgb(90, 90, 30);
}

.bc-list-a:visited{
    text-decoration: none;
    color: rgb(54, 52, 52);
}

.bc-list-a::before {
    content: '>>';
    color: lightgray;
    padding: 1px 10px 10px;
}



@media (max-width: 600px) {
    .bc-list-ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}